#logo{
    float: left;
    margin-left: 10px;
    margin-top: -20px;
    width: 200px;
}
section{
    background-image: url("../../../assets/images/Netflix-Background.jpg");
    width: 100%;
    height: 140vh;
}
#top-layer{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.900));
    width: 100%;
    height: 100%;
}
form{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -220px;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 50px;
    border-radius: 5px;
    color: white;
}

.main-in {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(48, 48, 48);
}

#submit{
    width: 100%;
    background-color: red;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    height: 50px;
}
#more{
    margin-top: 10px;
    color: rgb(90, 90, 90);
}
#help {
    float: right;
}
#bot{
    margin-top: 50px;
}
#bot p{
    color: rgb(90, 90, 90);
    width: 330px;
}
#new span a{
    color: white;
    text-decoration: none;
}
#g-learn{
    font-size: small;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
}

#empty{
    width: 100%;
    background-color: white;
    height: 50px;
}

@media screen and (max-width: 450px) {
    form{
        margin: auto;
        position: relative;
        width: 100%;
        top: 10%;
        border-radius: 0px;
        left: 0px;
    }
    section{
        height: 125vh;   
    }
    .links{
        margin-left: -55px;
    }
    form h2{
        width: 2%;
        text-align: left;
    }
}