<section>
    <div id="top-layer">
        <img id="logo" src="../../../assets/images/logo.png" alt="">

        <form id="s-form">
            <h2>Sign In</h2>
            
            <input class="main-in" type="text" placeholder="  Email or phone number"><br>
            <input class="main-in" type="password" placeholder="  Password">
            <button id="submit" class="btn" type="submit" (click)="loginUser()">Sign In</button>

            <p id="more"><input type="checkbox"> Remember me <span id="help"><a>Need Help?</a></span></p>
            <div id="bot">
                <p id="new">New to Netflix? <span><a href="">Sign Up</a></span></p>
                <p  id="g-learn">This page is protected by Google reCAPTCHA to ensure you're not a bot. <span><a href="">Learn more</a></span></p>
            </div>
        </form>

        <footer class="sticky-bottom">
            <p><a href="">Questions? Contact Us</a></p><br>
            <ul class="links">
                <li><a href="">FAQ</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Cookie Preferences</a></li>
                <li><a href="">Corporate Information</a></li>
            </ul>
        </footer>
    </div>
</section>

<div id="empty"></div>