<section class="barnner">
    <img [src]="backdropImg" alt="">
    <div id="top-layer">
        <div id="barnner-text">
            <h1 class="display-1">{{ Trending['results'][disInt]['original_title'] }}</h1>
            <h1 class="display-1">{{ Trending['results'][disInt]['name'] }}</h1><hr>
            <p>{{ Trending['results'][disInt]['overview'] }}</p>
        </div>
    </div>
    <div id="btns">
        <button class="btn"> <img src="../../../assets/images/icons8-play-60.png" alt="">  Play</button>
        <button class="btn"> <img src="../../../assets/images/info--v1.png" alt="">  More Info</button>
    </div>
</section>