<header>
    <nav>
        <img id='logo' src="../../../assets/images/logo.png" alt="Netflix">
        <button id="browse" class="btn text-white m-text">Browse</button>
        <ul id="nav-row">
            <li><a href="">Home</a></li>
            <li><a href="">Tv Shows</a></li>
            <li><a href="">Movies</a></li>
            <li><a href="">Latest</a></li>
            <li><a href="">My List</a></li>
        </ul>
    </nav>
    <section id="others">
        <ul>
            <li><img src="../../../assets/images/icons8-search.svg" alt=""></li>
            <li class="m-text"><a href="">Kids</a></li>
            <li><img src="../../../assets/images/icons8-bell-96.png" alt=""></li>
            <li><div id="user"></div></li>
        </ul>
        
    </section>
</header>
<app-home></app-home>
<!-- <a target="_blank" href="https://icons8.com/icon/132/search">Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->